<!-- Question Display -->
<div id="question_view" class="container">
	<h1><%= @question.title %></h1>
	<hr>
	<div class="col-md-9">
	<p><%= @question.body %></p>
	<h4><%= @author.username %></h4>
	</div>

	<div class="col-md-3 text-center">
	<form action='/votes' method='post'>
		<input type='hidden' name='vote[votable_id]' value='<%= @question.id%>'>
		<input type='hidden' name='vote[votable_type]' value="Question">
		<input type='hidden' name='vote[count]' value="1">
		<input type='hidden' name='vote[user_id]' value='<%= session[:user_id] %>' >
		<button type="button" class="btn btn-default btn-lg btn-block" width="20" > Vote Up! </button>
	</form>
		<span><%= Vote.where(votable_id: @question.id, votable_type: "Question").sum(:count) %></span>
	<form action='/votes' method='post'>
		<input type='hidden' name='vote[votable_id]' value='<%= @question.id%>'>
		<input type='hidden' name='vote[votable_type]' value="Question">
		<input type='hidden' name='vote[count]' value="-1">
		<input type='hidden' name='vote[user_id]' value='<%= session[:user_id] %>' >
		<button type="button" class="btn btn-default btn-lg btn-block"> Vote Down! </button>
	</form>
	</div>
	<hr>

	<!-- New Comment Link -->
	<div id="comment-box">
		<div class="col-md-3 text-center" id="question_comment_button">
		<p><a href="/questions/<%= @question.id %>/comments/new">New Comment</a></p>
		</div>

		<!-- Question Comments Display -->
		<div class="col-md-6">
		<% @question.comments.each do |comment| %>
		<p><%= comment.body %></p>
		<% end %>
		</div>
	</div>

	<hr>



	<!--Each Answer Display -->
	<div id="answers_view" class="container">
	<% @question.answers.each do |answer| %>

		<div class="col-md-9">
			<p><%= answer.body %></p>
			<h5><%= User.find(answer.user_id).username %></h5>
		</div>

		<div class="col-md-3 text-center">
			<form action='/votes' method='post'>
				<input type='hidden' name='vote[votable_id]' value='<%= answer.id%>'>
				<input type='hidden' name='vote[votable_type]' value="Answer">
				<input type='hidden' name='vote[count]' value="1">
				<input type='hidden' name='vote[user_id]' value='<%= session[:user_id] %>' >
				<button type="button" class="btn btn-default btn-lg btn-block" width="20" > Vote Up! </button>
			</form>

			<span><%= Vote.where(votable_id: answer.id, votable_type: "Answer").sum(:count) %></span>
			<form action='/votes' method='post'>
				<input type='hidden' name='vote[votable_id]' value='<%= answer.id%>'>
				<input type='hidden' name='vote[votable_type]' value="Answer">
				<input type='hidden' name='vote[count]' value="-1">
				<input type='hidden' name='vote[user_id]' value='<%= session[:user_id] %>' >
				<button type="button" class="btn btn-default btn-lg btn-block"> Vote Down! </button>
			</form>
		</div>






		<hr>
			<!-- Answer Comments Display -->
		<% answer.comments.each do |comment| %>
			<p><%= comment.body %></p>
		<% end %>
		<hr>
		<!-- New Answer Comment Link -->
		<div id="answer_comment_button">
		<p><a href="/answers/<%= answer.id %>/comments/new">New Comment</a></p>
		</div>

	<% end %>

	<hr>
	</div>

	<br>
	<br>
	<br>
	<hr>
	<form id="new-answer-form" method='post' action='/answers'>
		<input type='hidden' name='answer[user_id]' value='<%=session[:user_id] %>'>
		<input type='hidden' name='answer[question_id]' value='<%= @question.id%>'>
	  <label for="answer_text">Your Answer:</label>
	  <br>
	  <textarea name='answer[body]' id="answer_text" rows="5" cols="75"></textarea>
	  <br>
	  <br>
	  <input type="submit" class="button" value="Submit"></input>
  </form>

  <%= @errors if @errors %>
</div>

