<div class="container">
	<h1><%= @question.title %></h1>
	<form action='/votes' method='post'>
		<input type='hidden' name='vote[votable_id]' value='<%= @question.id%>'>
		<input type='hidden' name='vote[votable_type]' value="Question">
		<input type='hidden' name='vote[count]' value="1">
		<input type='hidden' name='vote[user_id]' value='<%= session[:user_id] %>' >
		<button class="">Up</button>
	</form>
		<span><%= Vote.where(votable_id: @question.id, votable_type: "Question").sum(:count) %></span>
	<form action='/votes' method='post'>
		<input type='hidden' name='vote[votable_id]' value='<%= @question.id%>'>
		<input type='hidden' name='vote[votable_type]' value="Question">
		<input type='hidden' name='vote[count]' value="-1">
		<input type='hidden' name='vote[user_id]' value='<%= session[:user_id] %>' >
		<button class="">Down</button>
	</form>
	<p><%= @question.body %></p>
	<p><%= @author.username %></p>
	<% @question.comments.each do |comment| %>
	<p><%= comment.body %></p>
	<% end %>
	<p><a href="/questions/<%= @question.id %>/comments/new">New Comment</a></p>
	<hr>

	<span> <% @question.answers.each do |answer| %>
	<form action='/votes' method='post'>
		<input type='hidden' name='vote[votable_id]' value='<%= @question.id%>'>
		<input type='hidden' name='vote[votable_type]' value="Answer">
		<input type='hidden' name='vote[count]' value="1">
		<input type='hidden' name='vote[user_id]' value='<%= session[:user_id] %>' >
		<button class="">Up</button>
	</form>
		<span><%= Vote.where(votable_id: answer.id, votable_type: "Answer").sum(:count) %></span>
	<form action='/votes' method='post'>
		<input type='hidden' name='vote[votable_id]' value='<%= @question.id%>'>
		<input type='hidden' name='vote[votable_type]' value="Answer">
		<input type='hidden' name='vote[count]' value="-1">
		<input type='hidden' name='vote[user_id]' value='<%= session[:user_id] %>' >
		<button class="">Down</button>
	</form>
	<p><%= answer.body %></p>
	<p><%= User.find(answer.user_id).username %></p>
	<% answer.comments.each do |comment| %>
	<p><%= comment.body %></p>
	<% end %>
	<p><a href="/answers/<%= answer.id %>/comments/new">New Comment</a></p>
	</span>

	<% end %>

	<form id="new-answer-form" method='post' action='/answers'>
		<input type='hidden' name='answer[user_id]' value='<%=session[:user_id] %>'>
		<input type='hidden' name='answer[question_id]' value='<%= @question.id%>'>
	  <label for="answer_text">Your Answer:</label>
	  <br>
	  <textarea name='answer[body]' id="answer_text" rows="5" cols="75"></textarea>
	  <br>
	  <br>
	  <input type="submit" class="button" value="Submit"></input>
  </form>

>>>>>>> master
</div>

